{% extends "base.html" %}

{% block title %}Simple Shop{% endblock %}

{% block body %}
    <div>
        <div id="search">
            <a class="top_logo" href="/">Simple Shop</a>
            <form id="top_search_form"  class="form-inline" action="/search" method="POST">
                <div id="search" class="input-group input-group-lg">
                    <input class="form-control" id="top_search_input" type="search" name="query" placeholder="아무거나 입력해 보세요!"/>
                        <div class="input-group-btn">
                            <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div id="product">
        </div>
    </div>
{% endblock %}

{% block modal %}
    <div class="modal fade" id="buyModal" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h2 class="modal-title">아직 프로토타입입니다!</h2>
                </div>
                <div class="modal-body">
                    결제기능이 아직 구현되지 않아 링크로 대체합니다.
                </div>
                <div class="modal-footer">
                    <a target="_blank" href="" class="btn btn-success">제품 페이지
                    <span class="glyphicon glyphicon-arrow-right"></span></a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="fakeProgressModal" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title"></h2>
                </div>
                <div class="modal-body">
                    구입 신청중입니다. 잠시만 기다려 주세요...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">구입 취소</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="fakeBuyModal" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h2 class="modal-title">구입 신청이 완료되었습니다!</h2>
                </div>
                <div class="modal-body">
                    구입이 진행되는 과정을 문자로 알려드립니다.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ super() }}
    <script>
    $('#fakeBuyButton').bind('click',function(e){
        e.stopPropagation();
        $('#fakeBuyButton').toggleClass('fa-shopping-cart fa-cog fa-spin fa-fw');
        $('#buyButton').toggleClass('disabled');
        $('#fakeProgressModal').modal('show');
        setTimeout(function(){
            $('#fakeProgressModal').modal('hide');
            $('#fakeBuyModal').modal('show');
            $('#fakeBuyButton').toggleClass('fa-shopping-cart fa-cog fa-spin fa-fw');
            $('#buyButton').toggleClass('disabled');
        }, 3000);
    })
    </script>
{% endblock %}