{%extends "base.html"%}

{%block title%}Simple Shop{% endblock %}

{%block body%}
    <div class="jumbotron">
        <h1 class="main_logo">Simple Shop</h1>
        <form id="main_search_form" action="/search" method="POST">
            <div id="search" class="input-group input-group-lg">
                <input class="form-control" type="search" name="query" placeholder="아무거나 입력해 보세요!"/>
                    <div class="input-group-btn">
                        <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search"></span>
                    </button>
                    <a class="btn btn-success" href="{{ url_for('main.cart') }}">
                      <span class="glyphicon glyphicon-shopping-cart"></span>
                      {% if cart_item_count > 0 %}<span class="badge">{{ cart_item_count }}</span> {% endif %}
                    </a>
                </div>
            </div>
        </form>
    </div>

{%endblock%}