{% extends "base.html" %}

{% block title %}Simple Shop{% endblock %}

{% block body %}
    <div>
        <div id="search">
            <a class="top_logo" href="/">Simple Shop</a>
            <form id="top_search_form"  class="form-inline" action="/search" method="POST">
                <div id="search" class="input-group input-group-lg">
                    <input class="form-control" id="top_search_input" type="search" name="query" value="{{ query }}" placeholder="아무거나 입력해 보세요!"/>
                        <div class="input-group-btn">
                            <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div id="product">
            {% if product is not none %}
            <div class="row">
                <div class="col-lg-6">
                    <img src="{{ product.image }}" alt="">
                </div>
                <div class="col-lg-6">
                    <h3> {{ product.name }}</h3>
                    <h1> {{ product.price }} 원</h1>
                    <button type="button" class="btn btn-lg btn-success" data-toggle="modal" data-target="#buyModal">구매
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                    </button>
                    <a href="{{ url_for('main.search', query=query, reroll=reroll+1 ) }}">
                        <button type="button" class="btn btn-lg btn-danger">다른 상품
                            <span class="glyphicon glyphicon-repeat"></span></button>
                    </a>
                </div>
            </div>
            {% else %}
                검색결과가 없습니다.
            {% endif %}
        </div>
    </div>
    <div class="modal fade" id="buyModal" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h2 class="modal-title">아직 프로토타입입니다!</h2>
                </div>
                <div class="modal-body">
                    제품이 완성되는걸 보고 싶으신가요? <br>
                    그럼 (주)Simple Shop에 투자를 하세요!
                </div>
                <div class="modal-footer">

                    <a target="_blank" href="{{ product.url }}" class="btn btn-success">제품 페이지</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}