body {
    background-color: lightblue;
    color: white;

  text-align: center;

    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.container {
    margin-top: 60px;
    text-align: center;
}

.jumbotron {
    background-color: lightblue;
    margin-top: 128px;
}
/* if mobile no top margin*/
@media screen and (max-width: 767px) {
    .jumbotron {
        margin-top: 0;
    }
}

h1.main_logo {
    color: white;
    font-size: 80px;
    margin-bottom: 50px;
}
/* if mobile size down font*/
@media screen and (max-width: 767px) {
    h1.main_logo{
        font-size: 43px;
    }
}

/* make logo and search bar in /search in single line*/
.top_logo{
    color: inherit;
    display: inline;
    font-size: 40px;
    margin-right: 10px;
}
.top_logo:hover,
.top_logo:active,
.top_logo:focus{
    color: inherit;
    /*highlight when hovered*/
    text-shadow: 1px 1px #000;
    /*remove underline*/
    text-decoration: none;
}
#top_search_form{
    display: inline;
}


/* search bar styling */
#main_search_form {
    max-width: 500px;
    margin: auto;
    position: relative;
}

/* Make <img> responsive */
img {
    max-width:100%;
}
#search input[type="search"] {
    top: 50%;
    font-size: 30px;
    font-weight: 300;
    color: black;
    text-align: center;
    border: 0;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}
/* if mobile */
@media screen and (max-width: 767px) {
    #search input[type="search"] {
        font-size: 19px;
        padding-left: 7px;
        padding-right: 7px;
    }
}

/*Product page styling*/
#product {
    padding-top: 50px;
}

.product_info {
    padding-top: 100px;
}

.product_buttons{
    padding-top: 50px;
}
/* xs < 768 */
@media screen and (max-width: 767px) {
    #product_name {
        font-size: 30px;
    }
    #product_price {
        font-size: 35px;
    }
}

/* sm */
@media screen and (min-width: 768px) {
    #product_name {
        font-size: 40px;
    }
    #product_price {
        font-size: 50px;
    }
}

/* md */
@media screen and (min-width: 992px) {
    #product_name {
        font-size: 40px;
    }
    #product_price {
        font-size: 50px;
    }
}

/* lg */
@media screen and (min-width: 1200px) {
    #product_name {
        font-size: 40px;
    }
    #product_price {
        font-size: 50px;
    }
}

/*Product buy modal styling*/
#buyModal,
#fakeProgressModal,
#fakeBuyModal
{
    text-align: center;
    font-size: 25px;
    color: #000;
    text-shadow: none;
}