body {
    background-color: lightblue;
    color: white;

    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.container {
    margin-top: 60px;
    text-align: center;
}

.jumbotron {
    margin-top: 128px;
    background-color: lightblue;
}

.main_logo {
    color: white;
    font-size: 80px;
    margin-bottom: 50px;
}

/* make logo and search bar in /search in single line*/
.top_logo{
    color: inherit;
    display: inline;
    font-size: 40px;
    margin-right: 10px;
}
.top_logo:hover,
.top_logo:active,
.top_logo:focus{
    color: inherit;
    /*highlight when hovered*/
    text-shadow: 1px 1px #000;
    /*remove underline*/
    text-decoration: none;
}
#top_search_form{
    display: inline;
}


/* search bar styling */
#main_search_form {
    margin-left:250px;
    max-width: 500px;
    position: relative;
}
#search input[type="search"] {
    top: 50%;
    /*width: 100%;*/
    /*color: rgb(255, 255, 255);*/
    /*background: rgba(0, 0, 0, 0);*/
    font-size: 30px;
    font-weight: 300;
    color: black;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    padding-left: 30px;
    padding-right: 30px;
}

/*Product page styling*/
#product {
    padding-top: 50px;
}

.product_info {
    padding-top: 100px;
}
#product_name {
    font-size: 40px;
}
#product_price {
    font-size: 50px;
}
.product_buttons{
    padding-top: 50px;
}

/*Product buy modal styling*/
#buyModal,
#fakeProgressModal,
#fakeBuyModal
{
    text-align: center;
    font-size: 25px;
    color: #000;
    text-shadow: none;
}